.delivery {
    & h2 {
        margin-bottom: 10px;

        & img {
            display: inline-flex;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;

        margin-top: 35px;
        @include flex-center;
        flex-wrap: wrap;
        gap: 10px 34px;

        & li {
            position: relative;
            font-size: 11px;
            font-weight: 400;

            &:first-child {
                &::before {
                    display: none;
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                background-color: var(--color-accent);
                border-radius: 50%;
            }
        }
    }

    & .row {
        gap: 85px;
    }

    & .column {
        flex-basis: auto;
        max-width: 730px;
    }

    & .button {
        margin: 55px auto;
        width: fit-content;
    }
}