@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}
p:last-of-type {
  margin: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
  Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-thin-webfont.woff"), url("../fonts/montserrat-thin-webfont.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extralight-webfont.woff"), url("../fonts/montserrat-extralight-webfont.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light-webfont.woff"), url("../fonts/montserrat-light-webfont.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff"), url("../fonts/montserrat-regular-webfont.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff"), url("../fonts/montserrat-medium-webfont.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold-webfont.woff"), url("../fonts/montserrat-semibold-webfont.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff"), url("../fonts/montserrat-bold-webfont.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extrabold-webfont.woff"), url("../fonts/montserrat-extrabold-webfont.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-black-webfont.woff"), url("../fonts/montserrat-black-webfont.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
:root {
  /*colors*/
  --color-black: #000000;
  --color-black-alt: #1C1C1C;
  --color-text: #444444;
  --color-white: #ffffff;
  --color-gray: #F4F4F5;
  --color-gray-dark: #a7a7b1;
  --color-accent: #E64231;
  --color-accent-alt: #aa1808;
  --color-transparent: transparent;
  --color-shadow: rgba(22, 28, 45, 0.05);
  /*colors*/
  /*border*/
  --border: 2px solid var(--color-black);
  --border-radius: 12px;
  --border-radius-small: 8px;
  --border-radius-large: 24px;
  /*border*/
  /*body*/
  --font-family-base: "Montserrat", serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --section-padding-y: 40px;
  /*body*/
  /*button*/
  --input-height: 54px;
  --button-height: 54px;
  --icon-button-height: 24px;
  --transition-duration: 0.3s;
  /*button*/
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

section {
  padding-block: var(--section-padding-y);
}

.site {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.row > .column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(16px, 1.5vw, 18px);
  color: var(--color-text);
  background: var(--color-gray);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.56;
}
body.lock {
  max-height: 100vh;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(30px, 4.1666666667vw, 50px);
  font-weight: 600;
  line-height: 1.2;
  color: #222222;
}

h2 {
  font-size: clamp(24px, 3.3333333333vw, 40px);
  font-weight: 600;
  line-height: 1.2;
  color: #222222;
}

h3 {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 600;
  line-height: 1.2;
  color: #222222;
}

h4 {
  font-size: clamp(20px, 1.3333333333vw, 16px);
}

h5 {
  font-size: clamp(14px, 1.1666666667vw, 14px);
}

@-webkit-keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 0 24px;
  height: var(--button-height);
  border-radius: var(--border-radius-small);
  color: var(--color-white);
  background: var(--color-black);
  border: 2px solid var(--color-black);
  font-weight: 500;
}
@media (hover: hover) {
  .button:hover {
    background: var(--color-text);
    border-color: var(--color-text);
  }
}
@media (hover: none) {
  .button:active {
    background: var(--color-text);
    border-color: var(--color-text);
  }
}
.button--accent {
  background: var(--color-accent);
  border-color: var(--color-accent);
}
@media (hover: hover) {
  .button--accent:hover {
    background: var(--color-accent-alt);
    border-color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .button--accent:active {
    background: var(--color-accent-alt);
    border-color: var(--color-accent-alt);
  }
}
.button--white {
  color: var(--color-black);
  background: var(--color-white);
  border-color: var(--color-white);
}
@media (hover: hover) {
  .button--white:hover {
    color: var(--color-white);
    background: var(--color-gray-dark);
    border-color: var(--color-gray-dark);
  }
}
@media (hover: none) {
  .button--white:active {
    color: var(--color-white);
    background: var(--color-gray-dark);
    border-color: var(--color-gray-dark);
  }
}

.burger {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger::before {
  top: 3px;
}
.burger::after {
  bottom: 3px;
}
.burger span {
  font-size: 0;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger.burger--active span {
  opacity: 0;
}
.burger.burger--active::before, .burger.burger--active::after {
  width: 90%;
  top: 50%;
  bottom: auto;
  translate: -50% -50%;
}
.burger.burger--active::before {
  rotate: 45deg;
}
.burger.burger--active::after {
  rotate: -45deg;
}

.header {
  position: relative;
  padding: 23px 0;
  background-color: var(--color-black);
}
.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
.header__actions {
  margin-left: auto;
}
.header__actions .button {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
}

@media (hover: hover) {
  .logo:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
}
@media (hover: none) {
  .logo:active {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
}
.logo img {
  max-width: 190px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.navigation__list li.menu-item-has-children {
  position: relative;
}
@media (hover: hover) {
  .navigation__list li.menu-item-has-children:hover > .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__list li.menu-item-has-children:hover > a {
    color: var(--color-accent);
  }
  .navigation__list li.menu-item-has-children:hover > a::after {
    background-color: var(--color-accent);
    rotate: 180deg;
  }
}
@media (hover: none) {
  .navigation__list li.menu-item-has-children:active > .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__list li.menu-item-has-children:active > a {
    color: var(--color-accent);
  }
  .navigation__list li.menu-item-has-children:active > a::after {
    background-color: var(--color-accent);
    rotate: 180deg;
  }
}
.navigation__list li.menu-item-has-children.active > .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__list li.menu-item-has-children.active > a {
  color: var(--color-accent);
}
.navigation__list li.menu-item-has-children.active > a::after {
  background-color: var(--color-accent);
  rotate: 180deg;
}
.navigation__list li.menu-item-has-children .sub-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px 0;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2;
  gap: 4px 0;
  border-radius: var(--border-radius-small);
  background: #000;
}
.navigation__list li.menu-item-has-children .sub-menu > li {
  padding-block: 10px;
}
.navigation__list li.menu-item-has-children > a::after {
  content: "";
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background-color: var(--color-white);
  mask: url("../images/icons/arrow-down.svg") no-repeat center;
  -webkit-mask: url("../images/icons/arrow-down.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.navigation__list li.current-menu-item > a, .navigation__list li.current-menu-ancestor > a {
  font-weight: 700;
  color: var(--color-accent);
}
.navigation__list li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}
@media (hover: hover) {
  .navigation__list li a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .navigation__list li a:active {
    color: var(--color-accent);
  }
}

.hero {
  height: 100vh;
  padding: 130px 0;
}
.hero h1 {
  max-width: 500px;
}
.hero p {
  font-size: 24px;
  color: #222;
}
.hero .row {
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.hero .row .button {
  width: 50%;
}
.hero .icons-platforms {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.footer {
  padding: 10px 0;
  background: #444;
}/*# sourceMappingURL=style.css.map */